pytorch-lightning==1.1.6
transformers @ git+https://github.com/ZurichNLP/transformers.git@traim_mbart#egg=transformers
torch==1.6.0
tensorboardX
test-tube==0.7.5
nltk==3.5
numpy==1.19.5
nlp
rouge_score
requests
sacrebleu
datasets==1.2.1
sentencepiece==0.1.95
